<div id="global" class="global">
	<div class="pagesidebar">
    	<div class="sidebarcontent">	
    		<ul class="sidemenu scrollmenu"><!--menu for responsive devices-->
				<li class="active"><a href="#sectors">Home</a></li>
				<li><a href="#sectors">Services</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#clients">Clients</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul><!--end sidemenu scrollmenu-->	
    	</div><!--end sidebarcontent-->
    	
    	<a class="sidebarclose"><span></span></a>
    </div>	<!--end pagesidebar-->

    <div class="pusher">
		<div id="main">
            <!--START SECTION HOME-->		
			<section id="home">
				<div class="homeslider"></div><!--end homeslider-->
			 	<div id="homecontent">
			    	<div class="container">
			    		
			       		<div class="static"><!--static content on slider-->
			       			<%= image_tag('/assets/images/TE_Logo_opt.png') %>
			       		</div><!--end static-->

					</div><!--end container-->
			    </div><!--end homecontent-->
			</section><!--end section home-->
			<!--END SECTION HOME-->	

			<!--START HEADER-->	
			<header>
				<div class="container">
					<div class="col-md-4 col-sm-4">
						<div class="logo">
							<%= image_tag('/assets/images/TE_Logo_Small.png') %><!--add you logo here(image in img src tag or text as placed)-->
						</div><!--end logo-->
					</div>	

					<div class="col-md-8 col-sm-8">
						<div class="mainmenu">
							<ul id="menu" class="scrollmenu"><!--main navigation-->
								<li><a href="#home">Home</a></li>
								<li><a href="#sectors">Services</a></li>
								<li><a href="#about">About</a></li>
								<li><a href="#clients">Clients</a></li>
								<li><a href="#contact">Contact</a></li>
							</ul>
						</div><!--end mainmenu-->
					</div>
				</div><!--end container-->	

				<a id="trigger"><!--button for opening menu in responsive devies-->
					<span class="lines"></span>
				</a>
			</header><!--end header-->
			<!--END HEADER-->	

			<!--START SECTION FEATURES-->
			<section id="sectors">
				<div class="container">
					<div class="row">
						<div class="heading">
							<h2>Our Services</h2>
							<h6>Where we specialise</h6>
						</div><!--end heading-->
					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="feature">
								<div class="feature-img">
									<img src="/assets/images/commercial_industrial_opt.jpg" alt="image" />
								</div>
								<div class="feature-box">
									<h3>Commercial & Industrial</h3>
									<div class="read-more">
									<p>Commercial owners look to the comprehensive services, experience and innovative methods of Total Electrical to stay competitive in their marketplace. The wide range of services provided by our commercial department have assisted our clients in the following areas.</p>
									<ul>
									  <li>Building Power and Lighting Systems</li>
									  <li>Energy Management Systems</li>
									  <li>Lighting Control Systems</li>
									  <li>Parking Lot Lighting</li>
									  <li>Security Lighting</li>
									  <li>Design Build Services</li>
									  <li>Retail Space</li>
									  <li>Manufacturing Facilities</li>
									  <li>Industrial Facilities</li>
									  <li>Office Buildings</li>
									  <li>Tenant Improvement</li>
									</ul>
								   </div>
								   <a class="read"> Read More</a>
								</div><!--end feature-box-->
							</div><!--end feature-->
						</div>

						<div class="col-md-4">
							<div class="feature">
								<div class="feature-img">
									<img src="/assets/images/electrical_motor_opt.jpg" alt="image" />
								</div>
								
								<div class="feature-box">
									<h3>Electrical Motor Repair</h3>
									<div class="read-more">
									<p>Total Electrical repairs based in South Wales is a leading motor rewinds company specialising in electric motors and geared motors. We provide the following services to companies in South Wales:</p>
									<ul>
									  <li>AC & DC Electric Motor Repairs</li>
									  <li>Electric Motor Sales</li>
									  <li>Fans</li>
									  <li>Fan Repairs</li>
									  <li>Geared Motor Sales</li>
									  <li>Geared Motor Repairs</li>
									  <li>Pump Sales</li>
									  <li>Pump Repairs</li>
									  <li>Inverter Drives</li>
									  <li>Variable Speed Drive Systems</li>
									  <li>Site Service Support</li>
									  <li>Vibration Analysis</li>
									  <li>Panel Building</li>
									</ul>
								</div>
								<a class="read"> Read More</a>
								</div><!--end feature-box-->
							</div><!--end feature-->
						</div>

						<div class="col-md-4">
							<div class="feature">
								<div class="feature-img">
									<img src="/assets/images/residential_opt.jpg" alt="image" />
								</div>
								
								<div class="feature-box">
									<h3>Residential</h3>
									<div class="read-more">
									<p>Total Electrical offers its full range of services to the domestic market. From our control and customer centre we dispatch engineers to residential properties across the whole of South Wales. Work will be allocated to the nearest engineer to keep travelling time to a minimum and to ensure the quickest possible response. You can also be assured that , with an extensive selection of local suppliers, Total Electrical will waste no time in resolving your emergency.</p>
									<ul>
									  <li>Full and Partial Rewires</li>
									  <li>Additional Lighting</li>
									  <li>Additional Sockets</li>
									  <li>Shower Installations</li>
									  <li>Garage Installations</li>
									  <li>Loft Conversions</li>
									  <li>Fault Finding</li>
									  <li>Testing & Inspecting</li>
									</ul>
								</div>

									<a class="read"> Read More</a>
								</div><!--end feature-box-->
							</div><!--end feature-->
						</div>
					</div><!--end row-->
				</div><!--end container-->
			</section><!--end features-->
			<!--END SECTION FEATURES-->

			<!--START SECTION STATS-->
			<section id="stats" class="stats-content">
				<div class="container">
					<div class="heading-layer">
						<h4>Want to get in touch with <strong>Total Electrical</strong> ?</h4>
						<a class="button top" href="#contact">Contact Us</a>
					</div><!--end heading-layer-->
				</div><!--end container-->
			</section><!--end section stats-->
			<!--END SECTION STATS-->

			<!--START SECTION ABOUT-->
    		<section id="about" class="about-content">
				<div class="container">
					<div class="row">
						<div class="heading">
							<h2>About<strong> Total Electrical</strong></h2>
							<h6>Quality Workmanship & Professionalism</h6>
						</div><!--end heading-->
					</div>

					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="text-left">
								<p>Total Electrical is a leading electrical contractor based in Cwmbran, South Wales offering a wide range of services across the electrical spectrum.</p>
								<p> Quality workmanship and Customer Service go hand in hand at Total Electrical, we are proud to say our record in delivering these services are second to none, from residential and commercial contracts with national companies to industrial contracts with local authorities.</p>
							</div><!--end text-left-->	
						</div>

						<div class="col-md-6 col-sm-6">
							<div class="text-right">
								<p>Total Electrical has grown through hard work, professionalism, pride and the desire to be the best in the business.</p>
								<p> We will go that extra mile to make sure our customers are delighted with the partner they have chosen.</p>
								<p>Total Electrical is the company people trust and respect.</p>
							</div><!--end text-right-->	
						</div>
					</div><!--end row-->
				</div><!--end container-->
			</section><!--end section about-->	
			<!--END SECTION ABOUT-->


			<!--START SECTION SKILLS-->
			<section id="skills">	
				<div class="skills-div">
					<div class="container">
						<div class="heading-stripe">
							<h4>Do you have an <strong>Emergency</strong>?</h4>
							<p class="mobile"><strong>07885575747</strong></p>
						</div><!--end heading-stripe-->
		   			</div><!--end container-->
		   		</div><!--end skills-div-->
			</section><!--end section skills-->
			<!--END SECTION SKILLS-->


			<!--START SECTION CLIENTS-->
			<section id="clients" class="clients-content">
				<div class="container">
					<div class="heading">
						<h2>What <strong>Clients</strong> say</h2>
						<h6>See what some of our prestigious clients say about us</h6>
					</div><!--end heading-->

					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="testimonial-block blockleft">
								<i class="icon-user"></i>
								<h6>Heather</h6>
								<span>CF5</span>
								<p>Did exactly what he said he would. Put himself out over the bank holiday and did a good job. Would recommend.</p>
							</div><!--end testimonial-block-->
						</div>	

						<div class="col-md-6 col-sm-6">
							<div class="testimonial-block">
								<i class="icon-user"></i>
								<h6>Mark</h6>
								<span>NP18</span>
								<p>They turned up at the agreed time and completed the job in a reasonable time. Very happy with the service I received.</p>
							</div><!--end testimonial-block-->
						</div>
					</div><!--end row-->

					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="testimonial-block blockleft">
								<i class="icon-user"></i>
								<h6>Gerraint</h6>
								<span>CF37</span>
								<p>Lee was very polite and professional-and sorted the problem quickly.</p>
							</div><!--end testimonial-block-->
						</div>	

						<div class="col-md-6 col-sm-6">
							<div class="testimonial-block">
								<i class="icon-user"></i>
								<h6>Richard</h6>
								<span>CF23</span>
								<p>Arrived when he said. Found problem and fixed it promptly and didn't charge too much.</p>
							</div><!--end testimonial-block-->
						</div>
					</div><!--end row-->

					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="testimonial-block blockleft">
								<i class="icon-user"></i>
								<h6>Lesley</h6>
								<span>HR9</span>
								<p>A 5* service from start to finish...faultless service.</p>
							</div><!--end testimonial-block-->
						</div>	

						<div class="col-md-6 col-sm-6">
							<div class="testimonial-block">
								<i class="icon-user"></i>
								<h6>Keri</h6>
								<span>NP13</span>
								<p>Excellent service was with us within the hour (about 9pm) and got the electricity working for an elderly lady.</p>
							</div><!--end testimonial-block-->
						</div>
					</div><!--end row-->
				</div><!--end container-->
			</section><!--end section clients-->
			<!--END SECTION CLIENTS-->

			<!--START SECTION CLIENT-LIST-->
			<section id="clients-list" class="client-list-content">
				<div class="container">
					<div class="list">
						<div class="col-md-4 col-sm-6">
							<div class="client-logo">
								<%= link_to image_tag('/assets/images/RatedPeopleSmall.png'), "http://www.ratedpeople.com/profile/total-electrical-wales/", target: '_blank' %>
							</div><!--end client-logo-->
						</div>	

						<div class="col-md-4 col-sm-6">
							<div class="client-logo">
								<%= link_to image_tag('/assets/images/TrustMarkSmall.png'), "http://www.trustmark.org.uk/", target: '_blank' %>
							</div><!--end client-logo-->
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="client-logo">
								<%= link_to image_tag('/assets/images/NICEICsmall.png'), 'http://www.niceic.com/', target: '_blank' %>
							</div><!--end client-logo-->
						</div>
					</div><!--end list-->
				</div><!--end container-->
			</section><!--end section client-list-->
			<!--END SECTION CLIENT LIST-->

			<!--START SECTION CONTACT-->
			<section id="contact" class="contact-content">
				<div class="container">
					<div class="row">
						<div class="heading-stripe">
							<h2><strong>Contact</strong> us today</h2>
							<p>Send us a message regarding your query and we <strong>will</strong> get back to you.</p>
						</div><!--end heading-stripe-->
					</div><!--end row-->

					<div class="row">
						<div class="col-md-4 col-md-offset-2 col-sm-6">
							<form id="contact-form" action="/" method="post">
							<input class="form_field" id="name" name="name" placeholder="Name" />
							<input class="form_field" id="email" name="email" placeholder="Email" />
							<input class="form_field" id="phone" name="phone" placeholder="Phone" />
						</div>

						<div class="col-md-4  col-sm-6">
							<textarea class="form_field" id="message" name="message" placeholder="Message"></textarea>
						</div>

						<div class="hidden">
                          <input name="ghost" type="text" class="inputGhost"/>
                        </div>

						<div class="col-md-2 col-md-offset-5">
							<input type="submit" class="button contact" value="Send Message"/>
							
						</div>
					</form>
					</div><!--end row-->
				</div><!--end container-->					
			</section><!--end section contact-->
			<!--END SECTION CONTACT-->

			<!--START SECTION FOOTER-->
			<section id="social-footer" class="footersocial">
				<div class="container">
	   				<div class="address">
	   					<h5>Cwmbran<br/>South Wales</h5>
	   				</div><!--end address-->

					<!--<ul id="social">
						<li><div class="icon icon-twitter-alt-1"></div></li>
						<li><div class="icon icon-facebook-1"></div></li>
					</ul><!--end social-->

					<div class="copyright">
						<div class="footer-note">
							<h6>Powered by Sinatra.... Built by <a href="http://richlewis.co.uk">Richard Lewis</a></h6>
						</div><!--end footer-note-->
					</div><!--end copyright-->

				</div><!--end container-->
			</section><!--end section social-footer-->	
			<!--END SECTION FOOTER-->

		</div><!--end main-->
 	</div><!--end pusher-->
</div><!--end global-->