<!DOCTYPE html>
<html lang="en">
<head>
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Total Electrical, Cwmbran, South Wales">
<meta name="author" content="Richard Lewis">

<title>Total Electrical</title>
<!--<link rel="shortcut icon" href="/assets/images/favicon.png" /><!--place your favicon path 18pxX18px here-->

<!-- CSS 
<%= stylesheet_link_tag '/assets/css/bootstrap.css' %>
<%= stylesheet_link_tag '/assets/css/style.css' %>
<%= stylesheet_link_tag '/assets/css/fonticons.css' %>-->
<!--Production-->
<%= stylesheet_link_tag '/assets/css/production.min.css' %>


<!-- Javascript -->
<%= javascript_script_tag '/assets/js/jquery.min.js' %>
<!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="/asets/js/html5shiv.js"></script>
<script src="/assets/js/respond.min.js"></script>
<![endif]-->

</head>

<body>
 <%= styled_flash %>

<%= yield %>

<!-- javascript
<%= javascript_script_tag '/assets/js/jquery.easing.min.js' %>
<%= javascript_script_tag '/assets/js/classie.js' %>
<%= javascript_script_tag '/assets/js/sidebarEffects.js' %>
<%= javascript_script_tag '/assets/js/jquery.isotope.min.js' %>
<%= javascript_script_tag '/assets/js/custom.js' %>-->
<!--Production-->
<%= javascript_script_tag '/assets/js/production.min.js' %>

</body><!--end body-->
</html>