Hi,

<%= params[:name] %> has sent you this message via the Total Electrical Website.

<%= params[:name] %>'s contact details are:

<%= params[:email] %> & <%= params[:phone] %>



<%= params[:message] %>