@charset "UTF-8";

@font-face {
  font-family: "fonticon";
  src:url("/assets/fonts/fonticon.eot");
  src:url("/assets/fonts/fonticon.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/fonticon.woff") format("woff"),
    url("/assets/fonts/fonticon.ttf") format("truetype"),
    url("/assets/fonts/fonticon.svg#fonticon") format("svg");
  font-weight: normal;
  font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('/assets/fonts/OpenSans-Light-webfont.eot');
    src: url('/assets/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('/assets/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('/assets/fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('/assets/fonts/OpenSans-Regular-webfont.eot');
    src: url('/assets/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('/assets/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}






[data-icon]:before {
  font-family: "fonticon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fonticon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-user:before {
  content: "|";
}
