/*========================================================================*/
/*   TABLE OF CONTENT
/*========================================================================*/
/*
/*		01. DEFAULT STYLING
/*		02. GENERAL STYLING
/*  
/*      04. HEADER
/*      05. BLOCKS
/*      06. HEADING
/*		07. HOME
/*		08. FEATURES
/*		09. ABOUT
/*      10. STATS
/*	
/*    
/*
/*		14. CLIENTS
/*      15. CLIENT-LIST
/*		16. CONTACT
/*      17. FOOTER
/*      18. RESPONSIVE FIXES
/*
/*========================================================================*/
 
@import url("reset.css");

/*========================================================================*/
/*   01. DEFAULT STYLING
/*========================================================================*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, adress, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
}

ul,ol{
	list-style:none;
	padding-bottom: 15px;
	padding-left:0px;
}

li {
	font-size:18px;
	line-height:25px;
}

body{
	overflow-x:hidden;
}

body {
margin: 0;
}

html, body {
	width: 100%;
	background-color: #fff;
	color: #666666;
	font-family: 'open_sanslight', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
	font-size: 16px;
}

section{
	position:relative;
	display:block;
}


/*========================================================================*/
/*   02. GENERAL STYLING
/*========================================================================*/

h1,h2,h3,h4,h5,h6{
	color:#222;
	line-height:1.5em;
	font-family: 'open_sansregular', sans-serif;
}

h1{
	font-size: 48px;
}

h2{
	font-size: 44px;
}

h3{
	font-size: 40px;
}

h4{
	font-size: 27px;
}

h5{
	font-size: 24px;
}

h6{
	font-size: 20px;
}

small{
	font-size: 11px;
}

a:visited,
a:focus,
a:active{
	text-decoration:none;
	outline:none;
}

a:hover,
a.readmore{
	color: #DD3F19;
	text-decoration:none;
}

button{
	border: none;
}

p{
	font-size: 18px;
	line-height:28px;
}

p+p{
	margin-top:10px;
}

.clear{
	clear:both;
}


/*========================================================================*/
/*   04. HEADER
/*========================================================================*/

header{
	width: 100%;
	position:relative;
	clear:both;
	display:inline-block;
	overflow:hidden;
	height: 70px;
	color: #444;
	background: #fff;
	border-bottom:1px solid #EFEFEF;
	z-index:999;
	-webkit-transform:translateZ(0);
}

header.fix{
	position: fixed;
	top:0;
	left:0;
	margin:0;
	border-bottom:1px solid #efefef;
	webkit-transition: all 0.6s ease-in-out;
	  -moz-transition: all 0.6s ease-in-out;
	  -o-transition: all 0.6s ease-in-out;
	  transition: all 0.6s ease-in-out;
}

header.fix+section{
margin-top:70px;
}

.logo h1{
	font-family: pacifico;
	font-weight: 400;
	color: #ce0c21;
	margin-top: 10px;
	font-size: 30px;
}

.logo img {
	margin-top: 23px;
	max-width:100%;
}

#menu{
	float:right;
}

#menu li{
	float:left;
}

#menu li a{
	padding: 25px 15px;
	font-size: 16px;
	display: inline-block;
	font-weight: 600;
}

#menu li.active > a {
	color: #fff;
	background: #ce0c21;
}

#menu li.active > a:hover{
	color:#fff;
}

#menu li a:hover{
	color:#ce0c21;
}

.sidebarclose{
	-webkit-transform: scale3d(0.8, 0.8, 0.8);
	transform: scale3d(0.8, 0.8, 0.8);
	position: relative;
	text-indent: -9999px;
	clear:both;
	float:none;
	width:68px;
	height:68px;
	opacity: 1 !important;
	margin: 0 34%;
	border: 4px solid rgba(0,0,0,0.6);
	border-radius: 70px;
		-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	display: block;
	text-align: center;
}

.sidebarclose span:before,.sidebarclose span:after{
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	top: 28px;
	width: 36px;
	display: inline-block;
	height: 4px;
	background: rgba(0,0,0,0.6);
	transition: 0.3s;
	position: absolute;
	left: 12px;
	content: '';
}

.sidebarclose span:before,
.close span:before{
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
}

.sidebarclose span:after{
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
}

.sidemenu{
	width:100%;
	padding:0;
	margin:0;
}

.sidemenu li a{
	padding:15px 0;
	display: inline-block;
	width:100%;
	text-align: center;
	color:rgba(255,255,255,0.8);
	border-top:1px solid rgba(0,0,0,0.1);
}

.sidemenu li:last-child a{
	border-bottom:1px solid rgba(0,0,0,0.1);
}

.sidemenu li.active a,
.sidemenu li a:hover{
	color:#FFF;
	background:rgba(0,0,0,0.2);
}



/*========================================================================*/
/*   05. BLOCKS
/*========================================================================*/
	
.global,
.pusher{
	height: auto;
	display:inline-block;
	width: 100%;
}

.global{
	position: relative;
}

.pusher{
     z-index:9;
	 background:#FFF;
	 width: 100%;
	 height: auto;
	 display:inline-block;
	 overflow-x:hidden;
}

.pagesidebar {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	visibility: hidden;
	width: 220px;
	height: 100%;
	background: #222;
	color: #EEE;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

#main{
	z-index:1;
	background:#FFF;
}

#trigger{
	cursor:pointer;
	display: none;
	position:absolute;
	top:24px;
	right:10px;
}

#trigger{
	padding:0;
	margin:0;
	border:none;
}

#trigger {
	padding: 10px;
	cursor: pointer;
	user-select: none;
	background:transparent;
}

#trigger .lines {
	display: inline-block;
	position: relative;	
    width: 32px;
  	height: 4px;
	background: #444;
	color: #444;
	  /* Not in use when the colors are specified below */
	transition: 0.3s;
}

.lines:before, .lines:after {
	display: inline-block;
	width: 32px;
	height: 4px;
	background: #444;
	transition: 0.3s;
	position: absolute;
	left: 0;
	content: '';
	-webkit-transform-origin: 6px center;
	transform-origin: 6px center;
}

.lines:after {
	top: -8px;
}

.lines:before {
	top: 8px;
}

.open .lines{
	background:transparent !important;
}

.open .lines:before, 
.open .lines:after {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	top: 0;
	width: 32px;
}

.open .lines:before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
}

.open .lines:after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
}


/* content style */
.pusher {
	position: relative;
	left: 0;
	width: 100%;
	display:block;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.pusher::after{
    position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	content: '';
	opacity: 0;
	over-y:hidden;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.open .pusher::after {
	width: 100%;
    height:100%;
    opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.open .pusher {
	-webkit-transform: translate3d(-220px, 0, 0);
	transform: translate3d(-220px, 0, 0);
}

.pagesidebar {
	z-index: 1;
    color:#bbb;
}

.open .pagesidebar {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	box-shadow: inset 1px 0 0px rgba(0,0,0,0.1);
    overflow-y:auto;
}

.pagesidebar::after {
	display: none;
}

/*========================================================================*/
/*   06. HEADING
/*========================================================================*/

.heading h2{
	font-family:'open_sansregular';
	font-size:23px;
	text-transform: uppercase;
	color:#666;
	text-align: center;
	
}

.heading h6{
	margin:15px 10px;
	font-size: 16px;
	color: #555;
	text-align: center;
	
}

.heading-stripe h2{
	font-family:'open_sansregular';
	font-size:23px;
	text-transform: uppercase;
	color:#fff;
	text-align: center;
	margin-top:50px;
}

.heading-stripe p{
	color:#fff;
	text-align: center;
	margin-bottom:40px;
}

.heading-stripe h4{
	text-align: center;
	color: #fff;
	margin:15px 10px;
}


/*========================================================================*/
/*   07. HOME
/*========================================================================*/


#home{
	display:block;
	height:685px !important;
	width: 100%;
	position: relative;
	text-align:center;
	-webkit-transform:translateZ(0);
}

#homecontent{
	left: 0;
	top: 0;
	width: 100%;
	z-index:2;
	position: absolute;
	padding: 200px 0 160px 0;
}

#home:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	display:block;
	top: 0;
}

.static{
	text-align: center;
}

.static img {
	max-width:100%;
}

.homeslider{
	display:block;
	width:100%;
	height:685px !important;
	background:url(../images/main_banner_opt.jpg);
}

/*========================================================================*/
/*   08. FEATURES
/*========================================================================*/

.feature{
	margin-top:90px;
	text-align: center;
}

.feature .icon{
	color: #fff;
	background: #ce0c21;
	text-align: center;
	display: inline-block;
	border: 4px solid #efefef;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	padding: 40px 45px;
	font-size:30px;
}

.feature-box{
	background: #efefef;
	padding-top: 50px;	
}

.feature-box h3{
	color:#ce0c21;
	font-weight: 600;
	padding-top: 80px;
	padding-bottom:20px;
	text-transform: uppercase;
	font-size: 17px;
}


.feature-img{
	position:absolute;
	top: 0%;
	width: 100%;
	left:0%;
}

.feature-img img{
	border-radius: 150px;
		-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	width: 200px;
	height: 200px;
	border: 5px solid #efefef;
	display: inline-block;
	left: 0%;
	top: -30%;
}


.feature-box p{
	padding:15px 15px;
}

.read {
	text-transform: uppercase;
	font-weight:600;
	padding:10px;
	display:block;
	cursor:pointer;
}

.read:hover {
	color:#ce0c21;
}

/*========================================================================*/
/*   09. ABOUT
/*========================================================================*/

.about-content{
	margin-top:100px;
	margin-bottom:50px;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align:left;
}


/*========================================================================*/
/*   10. STATS
/*========================================================================*/

#stats{
	background:#222;
	margin-top:100px;
	padding-top:50px;

}

.heading-layer h4{
	text-align: center;
	color:#999;
	margin:10px 10px;
}

.heading-layer{
	margin-bottom:70px;
}

.heading-layer p{
	color:#999;
	text-align: center;
}

.heading-layer strong{
	color:#fff;
}


#skills{
	padding-top:30px;
	padding-bottom:30px;
	background:#ce0c21;
}

.mobile {
	font-size:1.7em;
	font-family:'open_sansregular';
}

.heading-stripe p.mobile {
	margin-bottom:0px;
}


/*========================================================================*/
/*   14. CLIENTS
/*========================================================================*/

#clients .row+.row{
	border-top:1px solid #EFEFEF;
}

.clients-content{
	margin-top:50px;
	margin-bottom:100px;
}

.testimonial-block i{
	margin-right: 30px;
	float: left;
	width: 100px;
	border: 5px solid #efefef;
}

.testimonial-block{
	padding:30px 15px;
	position: relative;
}

.testimonial-block h6{
	font-weight: 600;
	color: #666;
	font-size: 18px;
	text-transform: uppercase;
}
.testimonial-block.blockleft:after{
	content:'';
	position: absolute;
	display: block;
	top:0;
	right:-15px;
	height:100%;
	width:1px;
	background:#EFEFEF;
}

.testimonial-block.blockleft{
	text-align: right;
}

.testimonial-block.blockleft i{
	clear:both;
	margin: 0 0px 0 30px;
	float:right !important;
}

.testimonial-block span{
	color:#ce0c21;
	font-size:14px;
}

.testimonial-block p{
	margin-top: 10px;
	font-size: 16px;
	line-height: 20px;
	text-align:left;
}

#testimonials .row .col-md-6:last-child .testimonial-block{
	border:none;
}


.testimonial-block .icon-user {
	font-size:91px;
	border: 5px solid #efefef;
	width:100px;
	height:100px;
}

/*========================================================================*/
/*   15. CLIENT-LIST
/*========================================================================*/

.client-list-content{
	background:#444;
	padding-bottom:90px;
	padding-top:100px;
}

 .client-logo{
		text-align: center;
	}

/*========================================================================*/
/*   16. CONTACT
/*========================================================================*/


#contact{
	background:#CE0C21;
	padding-bottom:70px;
}

.contact-content{
	text-align: center;
}

.form_field{
	background:#FFF;
	width:100%;
	font-size:14px;
	padding:12px 20px;
    border:1px solid #EFEFEF;
    border-radius:2px;
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
    color:#555;
}

.form_field.error_input{
	border:2px solid aqua;
}

.form_field+.form_field{
	margin-top:20px;
}

.button{
	position: relative;
	color: #fff;
	font: bold 14px Arial, Helvetica;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;       
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;     
	text-shadow: 0 -1px 0 rgba(0,0,0,.15);
	opacity: .9;   
	padding: 14px;
	height: 45px;
	display: block;
	width: 100%;
	color: #fff;
	background: rgba(0,0,0,0.2);
	border:none;
}

.button:hover{
	color:#fff;
	opacity: 1; 
}

.button.top {
	width:50%;
	margin:0 auto;
	background:#ce0c21;
	text-align:center;
}

textarea.form_field{
	height:170px;
	margin-bottom:20px;
	color:#555;
}

#submit{
	margin:0;
	width:100%;
	text-align: center;
	clear:both;
}

/*========================================================================*/
/*   17.  FOOTER
/*========================================================================*/

#social{
	display:inline-block;
	margin-top: 50px;
}

.footersocial{
	text-align: center;
	padding-bottom:20px;
	background: #222;
}

#social li{
	float:left;
	margin-right:30px;
}

#social li .icon{
	font-size:40px;
	color: #fff ;
	font-size: 50px;
	
	transition:all .25s ease-in-out;
	 -moz-transition: all .25s ease-in-out;
	 -webkit-transition: all .25s ease-in-outease;
	}

#social .icon-twitter-alt-1:hover{
	color:#33ccff;
	transition:all .25s ease-in-out;
	 -moz-transition: all .25s ease-in-out;
	 -webkit-transition: all .25s ease-in-out;
}

#social .icon-dribbble-2:hover{
	color:#e14c89;
	transition:all .25s ease-in-out;
	 -moz-transition: all .25s ease-in-out;
	 -webkit-transition: all .25s ease-in-out;
}

#social .icon-facebook-1:hover{
	color:#3B5998;
	transition:all .25s ease-in-out;
	 -moz-transition: all .25s ease-in-out;
	 -webkit-transition: all .25s ease-in-out;
}

.address {
	padding-top:10px;
}

.address h5{
	letter-spacing: 3px;
	font-size: 20px;
	color: #fff;
}

.address h4{
	letter-spacing: 1px;
	color: #777;
	font-size: 15px;
}

.footer-note h6{
	letter-spacing: 1px;
	margin:5px 5px;
	font-size: 13px;
	color: #999;
}

.footer-note a {
	color:#fff;
}

/*========================================================================*/
/*   18. Media queries
/*========================================================================*/

@media (min-width: 992px) {
	.logo img {
		display:none;
	}
}
@media (max-width: 1169px){
	#menu li a {
		padding: 26px 11px;
		font-size: 14px;
	}

  	#submit{
  		width:120%;
  	}

} 


/* ipad Landscape */
@media (max-width: 1024px) {

    .logo img {
    	margin-top:25px;
    }

     .about-content, .clients-content{
    	margin-top:20px;
    }

@media (max-width: 992px) {

	#home {
		display:none;
	}

	.logo img {
		display:block;
	}

	#menu li a{
		padding: 28px 5px;
		font-size: 11px;
	}
 
    #trigger{
		display: block;
		top:14px;
	}

	#menu{
		display: none;
	}

	.feature{
   		margin-top:110px;
    }

    .feature-img {
    	top:-90px;
    }

    .button.contact {
    	float:left;
    }

  
}



}

@media (max-width: 768px) {
	#menu{
		display: none;
	}

	#phone{
		margin-bottom:20px;
	}

	#trigger{
		display: block;
	}

	.list{
		text-align: center;
	}

	.text-left {
		text-align:center;
	}

	#pricing-table .header{
		padding:30px 20px;
	}

	.text-right {
		text-align:center;
	}

    .feature-box p{
   		padding-right: 20px;
		padding-left: 20px;
    } 

   .feature{
   		margin-top:100px;
    }

}


@media (max-width: 480px) {

   .client-logo{
		margin-bottom:20px;
	}

   .static-content h3{
   		font-size:20px;
    }

   .feature{
   		margin-top:120px;
    }


    .feature-img {
    	top:-90px;
    }

    .heading h6 {
    	margin-bottom:10px;
    }

    .logo img {
    	margin-top:21px;
    }

    .heading-layer h4 {
    	font-size:29px;
    }
 

    .clients-content {
    	margin-bottom: 50px;
    }

    .text-left, .text-right {
    	text-align: justify;
    }

    .text-right {
    	margin-top:10px;
    }

    .feature-box p {
    	padding-left:10px;
    	padding-right:10px;
    }
}








